.hebrew{
    direction: rtl;
}
.navbar-brand {
  width: 192px;
  height: 55px;
}
.navbar-brand:hover{
  border-radius: 0 15px 0 15px;
}
.navbar-brand img{
  width: 100%;
}
.mainmenu-area ul.nav > li > a:after{background-color: #3e9920;}
.mainmenu-area ul.nav > li.active > a{
  color: #3e9920;
  text-shadow: none;
  box-shadow: none;
}

.mainmenu-area.affix ul.nav > li > a:after{background-color: #fff;}
.mainmenu-area.affix ul.nav > li.active > a{
  color: #fff;
}

.button.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  font-size: 16px;
  color: #FFF;
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 8px !important;
}
.button.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.button.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.button.loginBtn--facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998;
  margin: 0 0 12px;
}
.button.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 7px 13px no-repeat;
  background-size: 18px;
}



/* Google */
.button.loginBtn.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39 !important;
}
.button.loginBtn.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 7px 13px no-repeat;
  background-size: 18px;
}

.line{
  display:block;
  color:#9ea5ad;
  font-size:16px;
  line-height:20px;
  text-transform:uppercase;
  padding:21px 0;
  position:relative;
  text-align: center;
}
.line:before,
.line:after {
  width:42%;
  height:1px;
  content:"";
  position:absolute;
  top:50%;
  left:0;
  background:#ccc;
  margin:0;
}
.line:after {
  left:auto;
  right:0;
}
.contunue-guest{
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  border-radius: 8px !important;
}

.signup-popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.6);
}
.signup-popup .signup-holder{
  text-align: center;
  padding: 20px;
  overflow: hidden;
  width: 400px;
  margin: -130px 0 0 -200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 99999;
  border-radius: 12px;
}



.header-area{
  background-image: url('../images/header-img.png') !important;
  background-position: center right;
  background-size: 50% 100%;
}

.subscrie-form .select select{
  position: static;
  float: left;
  padding: 12px;
}

.form-control{
  color: #000;
  font-size: 18px;
  line-height: 21px;
}
.subscrie-form.green .submit {
  background-color: #3e9920;
  width: 140px;
  height: 69px;
  border-radius: 0 4px 4px 0;
}
.cart-holder .btn-submit.button,
.btn-submit.button{
  background-color: #3e9920;
  width: 100%;
  height: 50px;
  font-weight: 600 !important;
  border-radius: 4px;
}
.btn-submit.button:hover,
.btn-submit.button:focus{
  color: #fff;
}
#scrollUp{
  background-color: #3e9920;
}
.subscrie-form {
  position: relative;
  max-width: 894px;
  margin: 0 auto;
}
.logo{
  width: 178px;
  height: 73px;
  float: left;
}
.hebrew #header .logo,
.hebrew .logo{
  float: right;
  margin: 0;
}
.mainmenu-area.affix {
  position: fixed;
  background-color: #3e9920;
  padding: 10px 0;
}
.page-title .title:before, .page-title .title:after{background-color: #3e9920;}

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
/* Custom Select */
.css-10nd86i{
  height: 100%;
}
.css-2o5izw,
.css-vj8t7z{
  height: 100%;
  min-height: 67px !important;
  border: none !important;
  color: #000 !important;
}
.css-1g6gooi>div>,
.css-1g6gooi>div>div {
  opacity: 1;
  color: #000 !important;
}
.select {
  position: relative;
  display: block;
  width: 415px;
  height: 69px;
  background: #fff;
  border: 1px solid #3e9920;
  border-radius: 4px 0 0 4px;
}
.hebrew .select{
  border-radius: 0 4px 4px 0;
}
.hebrew .subscrie-form.green .submit{
    right: auto;
    left: 0;
border-radius: 4px 0 0 4px;
}
.select select{
  color: #000;
  font-size: 18px;
  line-height: 21px;
  padding: 20px;
  overflow-y :auto;
  overflow-x:hidden;
  position:absolute;
  width:100%;
}
.firstpage .form-control{
  padding-right: 45px !important;
}
.currentLocation{
  position: absolute;
  top: 21px;
  right: 10px;
  bottom: 0;
  width: 26px;
  height: 30px;
  z-index: 99999;
  cursor: pointer !important;
  display: block;
}
.currentLocation img{
  width: 100%;
  height: auto;
  display: block;
}
  /*select {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*padding: 0 0 0 .5em;*/
  /*color: #000;*/
  /*cursor: pointer;*/
/*}*/
/*select::-ms-expand {*/
  /*display: none;*/
/*}*/
/* Arrow */
/*.select::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 22px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    padding: 0 1em;*/
/*    color: #000;*/
/*    background: #fff;*/
/*    pointer-events: none;*/
/*    line-height: 40px;*/

/*}*/
/*.subscrie-form.green.formHeader.pull-right .select:after{display: none;}*/
/*!* Transition *!*/
/*.select:hover::after {*/
/*  color: #3e9920;*/
/*}*/
/*.select::after {*/
/*  -webkit-transition: .25s all ease;*/
/*  -o-transition: .25s all ease;*/
/*  transition: .25s all ease;*/
/*}*/

.app-button{
  text-align: center;
}
.app-button li{
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.app-button li a{
  display: block;
  transition: .25s all ease;
}
.app-button li a img{transition: .25s all ease;}
.app-button li a:hover img{
  transform: scale(1.1);
}
.section-about{
  overflow: hidden;
  padding: 45px 0;
  background: #F0EEF1;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.footer-area {
  padding-top: 30px;
  padding-bottom: 10px;
}
button{
  border: none;
}

/* complete order */
.smart-form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
  position: relative;
  display: block;
  font-weight: 400;
  max-width: 100%;
}
.margin-bottom,
.smart-form .input{
  margin-bottom: 15px;
}
.smart-form .icon-prepend {
  left: 5px;
  color: #3e9920;
  padding-right: 3px;
  border-right-width: 1px;
  border-right-style: solid;
}
.smart-form .icon-append, .smart-form .icon-prepend {
  position: absolute;
  top: 8px;
  width: 24px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.smart-form .input .icon-prepend+input, .smart-form .textarea .icon-prepend+textarea {
  padding-left: 37px;
  border-color: #BDBDBD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.smart-form .input input, .smart-form .smart-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 38px;
  line-height: 39px;
  padding: 5px 10px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.button.btn-validate{
  height: 38px;
  font-size: 16px;
}

/* form with label */
/* .smart-form .label {
  display: block;
  margin-bottom: 6px;
  line-height: 19px;
  font-weight: 400;
  font-size: 13px;
  color: #333;
  text-align: left;
  white-space: normal;
}

.smart-form .icon-append {
  right: 5px;
  padding-left: 3px;
  border-left-width: 1px;
  border-left-style: solid;
}
.smart-form .icon-append, .smart-form .icon-prepend {
  position: absolute;
  top: 5px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
} */
/* form with label */

@media (max-width: 1199px){
  .heading-1 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 1023px){
  .heading-1 {
    font-size: 30px;
    line-height: 33px;
  }
  .single-service p br{
    display: none;
  }
  body{
    font-size: 14px;
    line-height: 18px;
    min-width: 320px;
  }
  .section-padding {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .logo {
    width: 150px;
    height: 65px;
  }
  .mainmenu-area ul.nav > li {
    padding: 0 10px;
  }
}
@media screen and (max-width: 800px){
  .slicknav_menu {
    background-color: inherit;
    padding: 10px;
  }
  .subscrie-form {max-width: 100%;}
  .select {
    width: 100%;
    height: 60px;
  }
  .subscrie-form.green .submit.add {
    position: static;
    width: 100%;
    height: 60px;
  }
  .header-area{
    min-height: 90vh;
    padding-top: 0;
    height: 270px;
  }
  .js .slicknav_menu{display: none !important;}
  .mainmenu-area {
    display: block !important;
  }
  .navbar-toggle .icon-bar{
    background: #fff;
  }
  .navbar-collapse{
    background: #3e9920;
  }
  .mainmenu-area.affix {
    position: static;
  }
  .single-service{
    padding-bottom: 25px;
  }
  .footer-area{
    text-align: center;
  }
  .footer-widget-area .widget.Mobile ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
  }
  .app-button li{
    padding: 0 10px 10px;
  }
}
@media screen and (min-width: 768px){
  .hebrew .navbar-header {
      float: right;
  }
  .hebrew .navbar-nav>li {
    float: right;
  }
}
.button {
  text-align: center;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  outline: none;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-transform: capitalize;
  background-color: #3e9920 !important;
  width: 247px;
  height: 69px;
  border-radius: 0 4px 4px 0;
}
.subscrie-form.green .button:hover{background-color: #3e9920 !important;}

.anim {
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
.anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.hoverable{overflow: hidden}


.hoverable:hover > .anim {
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}
@-webkit-keyframes anim-in {
  0% {width: 0%;}
  100% {width: 100%;}
}
@keyframes anim-in {
  0% {width: 0%;}
  100% {width: 100%;}
}
@-webkit-keyframes anim-in-pseudo {
  0% {background: rgba(0, 0, 0, 0.45);}
  100% {background: transparent;}
}
@keyframes anim-in-pseudo {
  0% {background: rgba(0, 0, 0, 0.45);}
  100% {background: transparent;}
}
@-webkit-keyframes anim-out {
  0% {width: 0%;}
  100% {width: 100%;}
}
@keyframes anim-out {
  0% {width: 0%;}
  100% {width: 100%;}
}
@-webkit-keyframes anim-out-pseudo {
  0% {background: rgba(0, 0, 0, 0.45);}
  100% {background: transparent;}
}
@keyframes anim-out-pseudo {
  0% {background: rgba(0, 0, 0, 0.45);}
  100% {background: transparent;}
}
.ReactModal__Content.ReactModal__Content--after-open{
  z-index: 99999;
}
.ReactModalPortal{
  position: relative;
  z-index: 99999;
}
.modal-header .close{
  margin-top: -2px;
  width: 30px;
  height: 30px;
  background: #3e9920;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  font-size: 25px;
}
.ReactModal__Content{
  padding: 0 0 80px !important;
}
.modal-footer{
  position: static;
  bottom: 40px;
  z-index: 9999;
  left: 40px;
  right: 56px;
  padding: 12px 20px;
}

#loader_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: block;
  /*background: rgba(33, 150, 243, 0.5);*/
   background: rgba(255, 255, 255, 0.7);
  /*background: rgba(0, 143, 81, 0.5);*/
}
#loader_bg .box_layer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  animation-name: box_layer;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transform: scale(0);
  opacity: 0.6;
}
#loader_bg .yellow {
  background-color: #18c379;
}
#loader_bg .yellowDark {
  animation-delay: -250ms;
  background-color: #82b941;
}
#loader_bg .orange {
  animation-delay: -500ms;
  background-color: #18c379;
}
#loader_bg .orangeDark {
  animation-delay: -750ms;
  background-color: #82b941;
}

@keyframes box_layer {
  to {
    transform: scale(1);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}
.spinning {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: steps(8, end);
  animation-iteration-count: infinite;
}
.search-form{
  position: relative;
  margin-bottom: 20px;
}
.search-form .form-control{
  padding-right: 50px;
}
.search-form .btn-search{
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 40px;
  height: auto;
}
.search-form .btn-search i{
  color: #fff;
}
.accordion__button{position: relative;}
.accordion__button:before{
  position: absolute;
  top: 27px;
  right: 10px;
}
.ReactModal__Overlay{background-color: rgba(0, 0, 0, 0.65) !important;}
.ReactModal__Content {
  padding: 0 !important;
  max-width: 900px;
  margin: 0 auto;
}
.footer-widget-area .widget ul{
  text-align: center;
}
.footer-widget-area .widget ul li{
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  margin: 0;
}
/*.footer-widget-area .widget ul li a:before{*/
/*  margin-left: 0;*/
/*  margin-right: 10px;*/
/*}*/
/*.footer-widget-area .widget ul li a:hover:before{*/
/*  margin-left: 0;*/
/*  margin-right: 15px;*/
/*}*/
.footer-widget-area .widget {
  margin-bottom: 0;
}
.smart-form.popup{
  overflow: hidden;
  padding: 25px;
}
.massage-box{
  height: 150px;
  min-height: 150px;
  padding-left: 37px;
  border-color: #BDBDBD;
  border-radius: 8px;
  resize: none;
  overflow-y: auto;
  width: 100%;
}

.green-heading{
  color: #00A53C !important;
  font-weight: 600;
}
.wrap-txt{
  overflow: hidden;
  padding: 0 0 15px;
}

.single-service.text-left .title{
  margin-bottom: 10px;
}
.single-service.text-left .title,
.single-service.text-left{
  text-align: left !important;
}
.single-service.text-left p{
  line-height: 18px;
  margin: 0 0 10px;
}
.single-service.text-left p strong{
  font-weight: 600;
  color: #000;
}
.sidebar .item-box{
  padding: 15px 15px 0;
  border-radius: 5px;
  background: #fff;
  margin: 0 0 15px;
  border: solid 2px #d7d7d7;
}
.sidebar .list-item{
  margin: 0 -16px 15px 0;
  max-height: 150px;
  padding: 0 18px 0 0;
  overflow-y: auto;
}
.qty-section{
    width: 90px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
}
.qty-section .btn{
    font-size: 11px;
    width: 26px;
    height: 24px;
    padding: 5px;
    color: #3e9920;
    background: none;
    display: inline-block;
    vertical-align: top;
    line-height: 12px;
}
.qty-section span{
    width: 32px;
    padding: 0;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;
}
.beta-img{
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{z-index: 99999;}

.single-service.text-left {
  padding: 20px;
  margin: 0 0 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06)!important;
}
.rectangle-list {
  list-style: none;
  counter-reset: section;
  padding: 0;
}
.rectangle-list li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.rectangle-list a{
  position: relative;
  display: block;
  /*padding: .4em .8em .4em .4em;*/
  padding: 2px;
  margin: .5em 0 .5em 2.5em;
  background: #eee;
  color: #444;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

}

.rectangle-list .active a,
.rectangle-list a:hover{
  background: #ddd;
}

.rectangle-list a:before{
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #eee;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  counter-increment: section;
  content: counter(section);
  color: #000;
}
.rectangle-list .active a:before,
.rectangle-list a:hover:before{
  background: #82b941;
  color: #fff;
}

.rectangle-list a:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.rectangle-list .active a:after,
.rectangle-list a:hover:after{
  left: -.5em;
  border-left-color: #82b941;
}
.hoverable:hover {
  background-color: #e9f4fb;
}