/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .header-area.v2 {
        background-color: #7832E2;
    }
    .footer-area.v2 {
        background-color: #B269D6;
        padding-top: 100px;
    }
    .resturant-list li{
        width:100%;
        display: block;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .xs-center {
        text-align: center;
    }

    .header-area.v2 {
        background-color: #7832E2;
    }
    .footer-area.v2 {
        background-color: #B269D6;
        padding-top: 100px;
    }
    .cart-holder{
        height: auto;
    }
    .modal-footer{
        padding: 0px 20px
    }
    .ReactModalPortal .frame{
        height:30%;
    }
    .modal-footer{
        padding: 0px 20px;
        height:70%;
    }
    .resturant-list li{
        width:100%;
        display: block;
    }
    
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .xs-center {
        text-align: center;
    }
    .testimonials.v2 .single-testimonial {
        margin: 30px;
    }
    .subscrie-form .submit {
        position: static;
        margin-top: 20px;
        border-radius: 5px;
    }
    .heading-2 {
        font-size: 38px;
    }

    .heading-3 {
        font-size: 32px;
    }

    .heading-4 {
        font-size: 20px;
    }
    .single-testimonial .desc {
        font-size: 16px;
    }
    .header-area.v2 {
        background-color: #7832E2;
    }
    .footer-area.v2 {
        background-color: #B269D6;
        padding-top: 100px;
    }
    .cart-holder{
        height:auto;
    }
    .ReactModalPortal .frame{
        height:65%;
    }
    .modal-footer{
        padding: 0px 20px;
        height:35%;
    }
    .resturant-list li{
        width:100%;
        display: block;
    }


}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sidebar .list-item {
        line-height: initial;
        
    }
}
@media (max-width: 1023px)
{
    body {
        font-size: 14px;
        line-height: auto;
        min-width: 320px;
    }
    .resturant-list h2{
        font-size:16px;
    }
    .resturant-list .text-holder{
        padding:10px;
    }
    .resturant-list li .newList{
        padding:0 0 0 10px
    }
}
